<footer id="footer" class="footer-area">
        
    <div class="footer-shape shape-1"></div>
    <div class="footer-shape shape-5"></div>
    <div class="footer-shape shape-7"></div>
    
    <div class="footer-widget pt-30 pb-80">
        <div class="container">
            <div class="row" style="margin-right: -169px;">
                <div class="col-lg-4 col-md-4">
                    <div class="footer-about mt-50" data-aos="fade-down-right">
                        <a class="logo" href="#" >
                            <img src="assets\images\Eglise_Evangelique_du_Cameroun__Logo_-removebg.png" alt="Logo">
                        </a>
                        <p class="text">Lorem ipsum dolor sit amet consetetur sadipscing elitr, sederfs diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam.</p>
                    </div> <!-- footer about -->
                </div> 
                <div class="col-lg-4 col-md-4">
                    <div class="footer-contact mt-45" style="padding-top: 20px;" data-aos="fade-down-right">
                        <div class="footer-title">
                            <h1 class="title">Company</h1>
                        </div>
                        <ul class="contact-list link" style="padding-left: 0px;">
                            <li>
                                <h5 class="text" style="font-size: 17px; color: #747E88;" >CHURCH</h5>
                            </li>
                            <li>
                                        <p class="text"><i class="lni lni-phone"></i>  (+237) 677778898</p>
                            </li>
                            <li>
                                        <p class="text"><a style="text-decoration: none; color: #747E88;" href="mailto:info@kamer-training.net"><i class="lni lni-envelope"></i>  info&#64;Kamer-center.net</a></p>
                            </li>
                            <li>
                                        <p class="text"><i class="lni lni-map"></i>  Yaounde-Cameroon, Lycee de BiyemAssi</p>
                            </li>
                        </ul> <!-- contact list -->
                    </div> <!-- footer contact -->
                </div>
                <div class="col-lg-4 col-md-4" style="padding-top: 20px;">
                    <div class="footer-link d-flex flex-wrap">
                        <div class="footer-link-wrapper mt-45 " data-aos="fade-down-right">
                            <div class="footer-title">
                                <h2 class="title">Social Media</h2>
                            </div>
                            <ul class="link" style="padding-left: 0px;">
                                <li><a style="text-decoration: none;" href="https://kamer-center.net"><i class="lni lni-world"></i>    www.Kamer-center.net</a></li>
                                <li><a style="text-decoration: none;" href="https://web.facebook.com/KTCCenter"><i class="lni lni-facebook"></i>    Facebook</a></li>
                                <li><a style="text-decoration: none;" href="https://www.linkedin.com/company/kamer-training-center?trk=public_post_share-update_actor-text"><i class="lni lni-instagram"></i>   Instagram</a></li>
                                <li><a style="text-decoration: none;" href="https://www.linkedin.com/company/kamer-training-center?trk=public_post_share-update_actor-text"><i class="lni lni-linkedin"></i>    LinkedIn</a></li>
                            </ul>
                        </div> <!-- footer link wrapper -->
                    </div> <!-- footer link -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </div> <!-- footer widget -->
   
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright d-sm-flex" style="justify-content: center;">
                        <div class="copyright-text text-center">
                            <p class="text">Copyright © 2024 by KTC-CENTER</p>
                        </div> <!-- copyright text -->
                    </div> <!-- copyright -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </div> <!-- footer copyright -->
</footer>
