<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-lg-6">
            <div class="download-content mt-45" style="margin-left: 10px;" data-aos="fade-left">
                <h3 class="download-title">Gestion de Paroisse</h3>
                 <div>
                    <ul>
                        <li>Ajout et gestion des informations personnelles des membres</li>
                        <li>Enregistrement de la présence aux cultes et événements.</li>
                        <li>Programmation des horaires, lieux, et responsables des cultes.</li>
                        <li>Suivi des contributions (dîmes, offrandes, dons spéciaux)</li>
                        <li>Communication entre les membres ou avec l'administration.</li>
                    </ul>
                 </div>
            </div> <!-- download image -->
        </div>
        <div class="col-lg-6 col-md-9">
            <div class="download-images mt-50 " data-aos="fade-right">
                <img class="image" src="assets\images\3layers-white.png" alt="download">
                
            </div> <!-- download image -->
        </div>
    </div> <!-- row -->
</div> <!-- container -->

