<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-lg-6">
            <div class="download-content mt-45" style="margin-left: 10px;" data-aos="fade-left">
                <h3 class="download-title">Gestion de Paroisse</h3>
                 <div style="width: 85%;flex-wrap: wrap;display: flex;">
                    <ul>
                        <li>Centralisation des informations : Rassemblez toutes les données importantes en un seul endroit pour un accès facile.</li>
                        <li>Planification des événements : Organisez et gérez les activités de la paroisse avec un calendrier interactif.</li>
                        <li>Communication efficace : Facilitez les échanges entre les membres grâce à des outils de messagerie intégrés.</li>
                        <li>Suivi des contributions : Gardez une trace des dons et des contributions pour une transparence totale.</li>
                        <li>Implication communautaire : Encouragez la participation active des paroissiens à travers diverses initiatives.</li>
                        <li>Rapports et analyses : Accédez à des statistiques et rapports pour évaluer l'engagement et le développement de votre paroisse.</li>
                    </ul>
                 </div>
            </div> <!-- download image -->
        </div>
        <div class="col-lg-6 col-md-9">
            <div class="download-images mt-50 " data-aos="fade-right">
                <img class="image" src="assets\images\3layers-white.png" alt="download">
                
            </div> <!-- download image -->
        </div>
    </div> <!-- row -->
</div> <!-- container -->

