<div class="container">
    <div class="row justify-content-center align-items-center">
                <div class="col-lg-6">
                    <div class="download-image" data-aos="fade-right">
                        <img class="image" style="max-width: 140%;" src="assets\images\p-black.png" alt="download">
                        
                        <div class="download-shape-1"></div>
                        <div class="download-shape-2">
                            <img class="svg" src="assets/images/download-shape.svg" alt="shape">
                        </div>
                    </div> <!-- download image -->
                </div>
        <div class="col-lg-6">
            <div class="download-content mt-45" data-aos="fade-left" style="margin-left: 30px;">
                <h3 class="download-title">Gestion des Projets</h3>
                <div style="width: 85%;flex-wrap: wrap;display: flex;">
                    <ul style="margin-left: -13px;">
                        <li>Planification structurée : Élaborez des plans détaillés pour chaque projet, avec des objectifs clairs et des échéances précises.</li>
                        <li>Suivi de l'avancement : Utilisez des outils de suivi pour monitorer l'évolution des projets en temps réel.</li>
                        <li>Collaboration d'équipe : Facilitez le travail d'équipe avec des plateformes de partage d'informations et de documents.</li>
                        <li>Gestion des ressources : Optimisez l'utilisation des ressources humaines et matérielles pour une exécution efficace.</li>
                        <li>Évaluation des résultats : Analysez les résultats à la fin de chaque projet pour identifier les succès et les axes d'amélioration.</li>
                    </ul>
                 </div>
            </div> <!-- download image -->
        </div>
    </div> <!-- row -->
</div> <!-- container -->

