<div style="position: relative; width: 100%;">
    <div class="shape-1">
        <img src="assets/images/rectangle-1.svg" style="width: 100%;" alt="shape">
    </div>
        <div data-aos="fade-down" class="shape-2">
            <div style="display: flex;justify-content: center;color: #ffffff;font-weight: 600;" class="section-head">Que recherchez-vous ?</div>
            <div style="display: flex;justify-content: center; font-weight: 400;color: #ffffff;" class="section-head-1">Commencez dès maintenant</div>
            <div style="display: flex;justify-content: center;">
            <div style="color: #ffffff;width:60%;text-align: center;">There are many variations of passages of Lorem Ipsum available but the majority have suffered alteration in some form.</div>
            </div>
            <ul class="d-flex ">
                <li><a href="" rel="nofollow" class="main-btns1" data-aos="fade-right">Commander</a></li>
            </ul>
          </div>
</div>




