
<div class="container">
    <div class="row align-items-center">
        <div class="col">
            <div data-aos="fade-down" class="shape-2" style="background-color: #0759ad;width: 100%;height: auto;">
                <div style="display: flex;justify-content: center;color: #ffffff;font-weight: 600;" class="section-head">Que recherchez-vous ?</div>
                <div style="display: flex;justify-content: center; font-weight: 400;color: #ffffff;" class="section-head-1">Commencez dès maintenant</div>
                <div style="display: flex;justify-content: center;">
                <div class="text-sec">There are many variations of passages of Lorem Ipsum available but the majority have suffered alteration in some form.</div>
                </div>
                <ul class="d-flex ">
                    <li><a href="" rel="nofollow" class="main-btns1" data-aos="fade-right">Commander</a></li>
                </ul>
              </div>
        </div>

    </div> <!-- row -->
</div> <!-- container -->


