    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-image mt-50" data-aos="fade-left">
                    <div class="about-shape"></div>
                    <img class="app" style="max-width: 150%;" src="assets\images\p-blue2.png" alt="app">
                </div> <!-- about image -->
            </div>
            <div class="col-lg-6">
                <div class="about-content mt-45" data-aos="fade-right">
                    <div class="section-title">
                        <h3 class="title">Utilisez La Version Mobile De Church</h3>
                        <p class="text">Restez connecté avec votre communauté où que vous soyez grâce à notre version mobile. 
                            Accédez facilement aux sermons, aux événements et aux ressources spirituelles directement depuis votre smartphone.
                             Recevez des notifications en temps réel sur les nouvelles activités et participez à des discussions en ligne avec d'autres membres. Notre application mobile rend la vie communautaire encore plus accessible et engageante. Emportez votre église dans votre poche !</p>
                    </div> <!-- section title -->
                    <a href="#" rel="nofollow" class="main-btn">Commander</a>
                </div> <!-- about content -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->