    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-image mt-50" data-aos="fade-left">
                    <div class="about-shape"></div>
                    <img class="app" style="max-width: 150%;" src="assets\images\p-blue2.png" alt="app">
                </div> <!-- about image -->
            </div>
            <div class="col-lg-6">
                <div class="about-content mt-45" data-aos="fade-right">
                    <div class="section-title">
                        <h3 class="title">You're Using Church Mobile Version</h3>
                        <p class="text">Please, purchase the full version of template get all pages, features, elements, documentation, commercial license and permission to remove footer credit. Please, purchase the full version of template.</p>
                    </div> <!-- section title -->
                    <a href="#" rel="nofollow" class="main-btn">Get Full Version</a>
                </div> <!-- about content -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->