<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-lg-6">
            <div class="download-content mt-45" data-aos="fade-left">
                <div style="padding-bottom: 15px;">
                    <div>
                        <span class="download-title">Gestion Santé</span>
                    </div>
                    <div style="width: 80%;flex-wrap: wrap;display: flex;">
                        Cette fonctionnalité met l'accent sur le bien-être des paroissiens. Elle propose des campagnes de sensibilisation à la santé, organise des consultations médicales et soutient les personnes malades ou isolées.
                    </div>
                </div>
                <div style="padding-bottom: 15px;">
                    <div>
                        <span class="download-title">Gestion Trésorerie Parassiole</span>
                    </div>
                    <div style="width: 80%;flex-wrap: wrap;display: flex;">
                        Optimisez votre trésorerie avec notre outil dédié à la gestion financière. Suivez en temps réel vos flux de trésorerie entrants et sortants, 
                        anticipez vos besoins en liquidités et prenez des décisions éclairées grâce à des rapports détaillés. Notre interface intuitive vous permet d'analyser facilement vos données financières,
                         garantissant ainsi une gestion proactive de votre entreprise. 
                    </div>
                </div>  
            </div> <!-- download image -->
        </div>
        <div class="col-lg-6 col-md-9">
            <div class="download-images mt-50 " data-aos="fade-right">
                <img class="image" style="max-width: 100%;height: 380px;" src="assets\images\192-3COMP.png" alt="download">
                
            </div> <!-- download image -->
        </div>
    </div> <!-- row -->
</div> <!-- container -->


