<div class="container">
    <div data-aos="fade-down">
      <div style="display: flex;justify-content: center;color: #0759ad;font-size: 25px;font-weight: 500;">Fonctionnalités</div>
      <div class="fxn-header">Principales fonctionnalités</div>
      <div style="display: flex;justify-content: center;">
      <div class="fxn-text">CHURCH a été conçu pour répondre aux besoins spécifiques des paroisses de l'EEC.
Il offre une large gamme de fonctionnalités pour aider les paroisses à gérer leurs
activités de manière efficace et efficiente.</div>
      </div>
    </div>

    <div class="row justify-content-center align-items-start">
        <div class="col-lg-6">
            <div class="download-content mt-45" data-aos="fade-left">
                <div style="padding-bottom: 15px;">
                <div>
                    <img class="image" style="width: 80px;" src="assets\images\sacrement.svg" alt="sacrement">
                    <span class="download-title" style="position: relative;top: 1px;">Gestion des Sacrements</span>
                </div>
                <div style="margin-left: 80px;position: relative;bottom: 12px;">
                    La gestion des sacrements permet de planifier et d'organiser les cérémonies sacramentelles (baptême, confirmation, mariage) au sein de la paroisse. Les membres peuvent s'inscrire, accéder à des ressources de préparation et suivre les dates importantes.
                </div>
            </div> 
            <div style="padding-bottom: 10px;">
                <div>
                    <img class="image" style="width: 80px;" src="assets\images\contribution.svg" alt="sacrement">
                    <span class="download-title" style="position: relative;top: 11px;">Contribution Pariossiales</span>
                </div>
                <div style="margin-left: 80px;position: relative;bottom: 12px;">
                    La gestion des contributions paroissiales facilite la collecte et le suivi des dons. Les membres peuvent effectuer leurs contributions en ligne, consulter leur historique et recevoir des reçus pour la déclaration fiscale.
                </div>
            </div>
              </div>
                </div>
        <div class="col-lg-6">
            <div class="download-content mt-50" data-aos="fade-left">
                <div style="padding-bottom: 15px;">
                    <div>
                        <img class="image" style="width: 80px;" src="assets\images\activity.svg" alt="sacrement">
                        <span class="download-title" style="position: relative;top: 11px;">Gestion des Activités</span>
                    </div>
                    <div style="margin-left: 80px;position: relative;bottom: 12px;">
                        Cette fonctionnalité centralise toutes les activités de la paroisse. Elle permet aux utilisateurs de consulter le calendrier des événements, de s'inscrire à des activités et de recevoir des notifications pour rester informés.
                    </div>
                </div> 
                <div style="padding-bottom: 10px;">
                    <div>
                        <img class="image" style="width: 75px;" src="assets\images\pp.svg" alt="sacrement">
                        <span class="download-title" style="position: relative;top: 11px;">Gestion Corps D'elites</span>
                    </div>
                    <div style="margin-left: 80px;position: relative;bottom: 5px;">
                        Cette section coordonne les groupes d'élite tels que les chorales ou les équipes de bénévoles. Chaque groupe peut gérer ses membres, planifier ses activités et communiquer efficacement avec la paroisse.
                    </div>
                </div> 
            </div>
        </div>
    </div> <!-- row -->
</div> <!-- container -->
