<div class="container">
    <div data-aos="fade-down">
      <div style="display: flex;justify-content: center;color: #0759ad;font-size: 25px;font-weight: 500;">Fonctionnalités</div>
      <div class="fxn-header">Principales fonctionnalités</div>
      <div style="display: flex;justify-content: center;">
      <div class="fxn-text">CHURCH a été conçu pour répondre aux besoins spécifiques des paroisses de l'EEC.
Il offre une large gamme de fonctionnalités pour aider les paroisses à gérer leurs
activités de manière efficace et efficiente.</div>
      </div>
    </div>

    <div class="row justify-content-center align-items-start">
        <div class="col-lg-6">
            <div class="download-content mt-45" data-aos="fade-left">
                <div style="padding-bottom: 15px;">
                <div>
                    <img class="image" style="width: 80px;" src="assets\images\sacrement.svg" alt="sacrement">
                    <span class="download-title" style="position: relative;top: 1px;">Gestion des Sacrements</span>
                </div>
                <div style="margin-left: 80px;position: relative;bottom: 12px;">
                        Ajout et gestion des informations personnelles des membres
                        Enregistrement de la présence aux cultes et événements.
                        Programmation des horaires, lieux, et responsables des cultes.
                </div>
            </div> 
            <div style="padding-bottom: 10px;">
                <div>
                    <img class="image" style="width: 80px;" src="assets\images\contribution.svg" alt="sacrement">
                    <span class="download-title" style="position: relative;top: 11px;">Contribution Pariossiales</span>
                </div>
                <div style="margin-left: 80px;position: relative;bottom: 12px;">
                        Ajout et gestion des informations personnelles des membres
                        Enregistrement de la présence aux cultes et événements.
                        Programmation des horaires, lieux, et responsables des cultes.
                </div>
            </div>
              </div>
                </div>
        <div class="col-lg-6">
            <div class="download-content mt-50" data-aos="fade-left">
                <div style="padding-bottom: 15px;">
                    <div>
                        <img class="image" style="width: 80px;" src="assets\images\activity.svg" alt="sacrement">
                        <span class="download-title" style="position: relative;top: 11px;">Gestion des Activités</span>
                    </div>
                    <div style="margin-left: 80px;position: relative;bottom: 12px;">
                            Ajout et gestion des informations personnelles des membres
                            Enregistrement de la présence aux cultes et événements.
                            Programmation des horaires, lieux, et responsables des cultes.
                    </div>
                </div> 
                <div style="padding-bottom: 10px;">
                    <div>
                        <img class="image" style="width: 75px;" src="assets\images\pp.svg" alt="sacrement">
                        <span class="download-title" style="position: relative;top: 11px;">Gestion Corps D'elites</span>
                    </div>
                    <div style="margin-left: 80px;position: relative;bottom: 5px;">
                            Ajout et gestion des informations personnelles des membres
                            Enregistrement de la présence aux cultes et événements.
                            Programmation des horaires, lieux, et responsables des cultes.
                    </div>
                </div> 
            </div>
        </div>
    </div> <!-- row -->
</div> <!-- container -->
